In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BostonHousing.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [4]:
X = df.drop(['medv'],axis=1)
y = df['medv']
scl = StandardScaler()
columns = X.columns
X = scl.fit_transform(X)
X = pd.DataFrame(X, columns=columns)
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30)
print('X_train shape',X_train.shape)
print('y_train shape',y_train.shape)
print('X_test shape',X_test.shape)
print('y_test shape',y_test.shape)

X_train shape (354, 13)
y_train shape (354,)
X_test shape (152, 13)
y_test shape (152,)

In [5]:
import tensorflow as tf
tf.__version__

'2.10.0'

In [12]:
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

model = Sequential()
# 32 is neuron
model.add(layers.Dense(32, activation='sigmoid',input_shape=(X_train.shape[1],))) # Dense refer to linear
model.add(layers.Dense(1, activation='linear')) # Dense refer to linear
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                448

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 481
Trainable params: 481
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.compile(optimizer='sgd',loss='mean_squared_error')
model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=20)

Epoch 1/20
12/12 [==============================] - 7s 223ms/step - loss: 203.0624 - val_loss: 45.8721
Epoch 2/20
12/12 [==============================] - 0s 21ms/step - loss: 36.1785 - val_loss: 36.6379
Epoch 3/20
12/12 [==============================] - 0s 21ms/step - loss: 29.5539 - val_loss: 34.4208
Epoch 4/20
12/12 [==============================] - 0s 18ms/step - loss: 27.3043 - val_loss: 30.7950
Epoch 5/20
12/12 [==============================] - 0s 18ms/step - loss: 25.1375 - val_loss: 29.6227
Epoch 6/20
12/12 [==============================] - 0s 18ms/step - loss: 24.2732 - val_loss: 29.0955
Epoch 7/20
12/12 [==============================] - 0s 26ms/step - loss: 23.6733 - val_loss: 28.7723
Epoch 8/20
12/12 [==============================] - 0s 25ms/step - loss: 23.0882 - val_loss: 27.9948
Epoch 9/20
12/12 [==============================] - 0s 21ms/step - loss: 22.7707 - val_loss: 27.7030
Epoch 10/20
12/12 [==============================] - 0s 20ms/step - loss: 22.3166 - val_loss: 28.2458
Epoch 11/20
12/12 [==============================] - 0s 20ms/step - loss: 22.0604 - val_loss: 26.5973
Epoch 12/20
12/12 [==============================] - 0s 20ms/step - loss: 21.7466 - val_loss: 29.8282
Epoch 13/20
12/12 [==============================] - 0s 28ms/step - loss: 21.5573 - val_loss: 25.8471
Epoch 14/20
12/12 [==============================] - 0s 21ms/step - loss: 20.7502 - val_loss: 29.1566
Epoch 15/20
12/12 [==============================] - 0s 21ms/step - loss: 21.1347 - val_loss: 37.3333
Epoch 16/20
12/12 [==============================] - 0s 20ms/step - loss: 22.9496 - val_loss: 27.1076
Epoch 17/20
12/12 [==============================] - 0s 18ms/step - loss: 20.3413 - val_loss: 25.6327
Epoch 18/20
12/12 [==============================] - 0s 19ms/step - loss: 19.9451 - val_loss: 26.0978
Epoch 19/20
12/12 [==============================] - 0s 17ms/step - loss: 19.8400 - val_loss: 24.7064
Epoch 20/20
12/12 [==============================] - 0s 16ms/step - loss: 19.3881 - val_loss: 25.6751

In [20]:
preds = model.predict(X_test).reshape(-1,)
res = pd.DataFrame()
res['Actual']= y_test.values
res['Predict']= preds
res

5/5 [==============================] - 0s 6ms/step

     Actual    Predict
0      17.8  20.464926
1      46.0  39.909607
2      22.0  21.673937
3      50.0  39.051086
4      11.7  13.018038
..      ...        ...
147    13.4  10.434437
148    23.9  27.438066
149    19.3  18.760799
150     8.3   9.735996
151    36.1  33.876976

[152 rows x 2 columns]